<nav class="navbar navbar">

  <div class="navbar-brand">
    <a class="material-icons">
      security
    </a>
    <a class="titulo" routerLink="polizas-existentes">Seguros</a>
  </div>

  <div class="navbar-nav-scroll">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" mdbBtn color="white" outline="true" size="sm" class="align-middle waves-light"
          mdbWavesEffect type="button">SEGUROS DE VIDA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" mdbBtn color="white" outline="true" size="sm" class="align-middle waves-light"
          mdbWavesEffect type="button">SEGUROS DE VIVIENDA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" mdbBtn color="white" outline="true" size="sm" class="align-middle waves-light"
          mdbWavesEffect type="button">SEGUROS DE AUTOMOVIL</a>
      </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="reporte" mdbBtn color="white" outline="true" size="sm" class="align-middle waves-light"
            mdbWavesEffect type="button">REPORTE</a>
        </li>
    </ul>
  </div>
</nav>