<mdb-card class="parametros-reporte">
  <div>
    <mat-form-field class="margen">
      <input class="margen-holder" matInput type="text" min=1 max="99999999" [(ngModel)]="parametrosReporte.dniAgente"
        placeholder="DNI Agente" [formControl]="dniAgenteFormControl" [errorStateMatcher]="matcher">
      <mat-error>
        <strong>
          DNI incorrecto
        </strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="margen">
      <input matInput [matDatepicker]="desde" placeholder="Fecha desde">
      <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
      <mat-datepicker #desde></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="margen">
      <input matInput [matDatepicker]="hasta" placeholder="Fecha hasta">
      <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
      <mat-datepicker #hasta></mat-datepicker>
    </mat-form-field>

  </div>
  <div>
    <button class="aceptar" type="button" mdbBtn color="black" class="waves-light aceptar" (click)="aceptar()"
      [disabled]="tieneErrores()" id="aceptar" mdbWavesEffect>Obtener Reporte</button>
  </div>
</mdb-card>