<div class="titulo"><strong>Reporte</strong></div>

<div class="card parametros-reporte">
  <div class="container">
    <div>
      <mat-form-field class="margen">
        <input name="dni-agente" class="margen-holder" matInput type="text" min=1 max="99999999" [(ngModel)]="parametrosReporte.dniAgente"
          placeholder="DNI Agente" [formControl]="dniAgenteFormControl" [errorStateMatcher]="matcher">
        <mat-error>
          <strong>
            DNI incorrecto
          </strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="margen">
        <input matInput name="fecha-desde" [(ngModel)]="parametrosReporte.fechaDesde" [matDatepicker]="desde"
          placeholder="Fecha desde" [formControl]="fechaDesdeControl" [errorStateMatcher]="matcher">
            <mat-error>
              <strong>
                Debe ingresar fecha desde
              </strong>
            </mat-error>
        <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
        <mat-datepicker #desde></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="margen">
        <input matInput name="fecha-hasta" [(ngModel)]="parametrosReporte.fechaHasta " [matDatepicker]="hasta"
          placeholder="Fecha hasta" [formControl]="fechaHastaControl" [errorStateMatcher]="matcher">
            <mat-error>
              <strong>
                Debe ingresar fecha hasta
              </strong>
            </mat-error>
        <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
        <mat-datepicker #hasta></mat-datepicker>
      </mat-form-field>
    </div>


    <div class="aceptar">
      <button class="aceptar" type="button" mdbBtn color="white" class="waves-light" (click)="mostrarReporte()"
        [disabled]="tieneErrores()" id="aceptar" mdbWavesEffect>Obtener Reporte</button>
    </div>

    <div class="alert alert-danger" *ngIf="fechaDesdePosteriorAHasta()">
      <strong>Fecha desde no debe ser posterior a fecha hasta</strong>
    </div>
  </div>