.parametros-reporte {
    max-width: 20rem;
    margin: auto;
    margin-top: 2rem;
    background-color: #eaeaea;
    // background-color: #7A9D96;
    // background-color: #4cb69f;
}

.margen {
    margin-right: 3rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
}

.aceptar {
    text-align: center;
    margin-bottom: 1rem;
}

.titulo {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    color: white;
}
