.texto-centrado {
    text-align: center;
}

thead {
    background-color: #cdffd8;
}

th {
    font-weight: bold;
}

.titulo {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
}

.polizas-card {
    max-width: 80rem;
    margin: auto;
    color: white;
    background-color: #393f4d;
    // background-color: #83d0c9;
    // background-color: #393f4d
    // background-color: #13deff;
    // background-color: #6497b1;
    // background-color: #70adcc;
    // background-color: #4fc4ff;
}

.negro {
    background-color: black;
}

.fila-poliza:hover {
    cursor: pointer;
    background: #DDDDDD;
    color: black;
}

.table tr.active td {
    background-color: #3d1e6d;
    color: white;
}

.centrado {
    margin-top: 1rem;
    text-align: center;
}

.busqueda {
    margin: 1rem;
}

.textbox-de-filtro {
    width: 14rem;
}

.material-icons {
    cursor: pointer;
    color: red;
}

::ng-deep .cdk-overlay-container {
    z-index: 1200;
}

.margen {
    margin-top: 2rem;
    text-align: center;
}

.greenText {
    color: #2ECC40;
    font-weight: bold;
}

.redText {
    color: red;
    font-weight: bold;
}

.cambioEstado {
    max-width: 18rem;
    margin: auto;
}

.boton {
    font-size: 0.7rem !important;
}

.centro {
    margin: 1rem;
}
